<div class="container">
  <div class="row" style="position: relative;">
    <div class="col-lg-8">
      <mdb-card>
        <mdb-card-body>
          <mdb-card-img src="assets/courses/img_01.jpg" alt="Card image cap"></mdb-card-img>
          <mdb-card-title>
            <h3>課程介紹</h3>
          </mdb-card-title>
          <mdb-card-img src="assets/courses/img_02.jpg" alt="Card image cap"></mdb-card-img>
          <mdb-card-img src="assets/courses/img_03.jpg" alt="Card image cap"></mdb-card-img>
          <mdb-card-img src="assets/courses/img_04.jpg" alt="Card image cap"></mdb-card-img>
          <mdb-card-img src="assets/courses/img_05.jpg" alt="Card image cap"></mdb-card-img>
          <mdb-card-img src="assets/courses/img_11.png" alt="Card image cap"></mdb-card-img>
          <mdb-card-img src="assets/courses/img_12.png" alt="Card image cap"></mdb-card-img>
          <mdb-card-img src="assets/courses/img_13.png" alt="Card image cap"></mdb-card-img>
          <mdb-card-img src="assets/courses/img_07.jpg" alt="Card image cap"></mdb-card-img>
          <mdb-card-text>
            運用編寫程式訓練邏輯思維！我們發現以往程式類型的課程，通常在老師單方面灌輸知識下，就會略顯得無聊，而在我們的課程裡，增加的不只是情境演練，甚至在故事情節裡運用程式設計來解決問題！馬上開始學習有趣且訓練邏輯思考的課程吧！
          </mdb-card-text>
          <mdb-card-img src="assets/courses/img_08.jpg" alt="Card image cap"></mdb-card-img>
          <mdb-card-text>
            甚麼？你說程式語言好像很有趣！這堂課程將會引領你走向更專業的程式設計編寫技巧，你必須知道的基本演算法、動態規劃等，還有競賽實作演練喔，挑戰性和實用性更十足！
          </mdb-card-text>
          <mdb-card-img src="assets/courses/img_09.jpg" alt="Card image cap"></mdb-card-img>
          <mdb-card-text>
            你在中階課程所學的都能運用自如了？！那就來挑戰高階課程！內容將會是前所未見的困難喔！競賽演算法、進階資料結構樣樣都來，是以邁向專業的程式設計師為目標的第一步！
          </mdb-card-text>
          <mdb-card-title>
            <h3>產品方案</h3>
          </mdb-card-title>
          <mdb-card-text>
            凡購買哪種方案皆在11月寄發感謝卡及課程金<br />並在課程開放時使用金鑰上課。<br />
            ※請仔細詳讀各個課程開課時間，我們將會在開課前通知您來上課!
          </mdb-card-text>
          <mdb-card-img src="assets/courses/img_10.jpg" alt="Card image cap"></mdb-card-img>

        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-lg-4">
      <mdb-card id="card-1" >
        <mdb-card-body>
          <mdb-card-title>
            <h4>上課時間</h4>
          </mdb-card-title>
          <mdb-card-text>
            初階課程：11月中旬 <br />
            中階課程：12月 <br />
            高階課程：明年2月 <br />
          </mdb-card-text>
          <mdb-card-title>
            <h4>授課師資</h4>
          </mdb-card-title>
          <mdb-card-text>
            國立海洋大學資工系 <br /> <strong>鄧暐宣</strong> <br />
            ACM-ICPC 佳作 <br /> NCPC 佳作
          </mdb-card-text>
          <mdb-card-title>
            <h4>上課準備</h4>
          </mdb-card-title>
          <mdb-card-text>
            需自備電腦
          </mdb-card-text>
        </mdb-card-body>
      </mdb-card>
      <mdb-card class="mt-3">
        <mdb-card-body>
          <mdb-card-title>
            <h4>報名網址</h4>
          </mdb-card-title>
          <mdb-card-text>
            <a href="https://www.flyingv.cc/projects/29572" mdbBtn target="_blank" style="background-color: #009DC0;" mdbWavesEffect>募資平台 Go!</a>
          </mdb-card-text>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>