<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark">
  <mdb-navbar-brand>
    <img src="assets/icon128x128.png" alt="" class="nav-logo" routerLink="home">
    <a class="navbar-brand" routerLink="home">普羅程式</a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="announcement">柯普小教室</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="about" routerLinkActive="active">關於我們</a>
      </li>
    </ul>
  </links>
</mdb-navbar>