<div class="container">
  <mdb-card [cascade]="true" [wider]="true" [reverse]="true" class="my-4">
    <div class="view view-cascade overlay waves-light" mdbWavesEffect>
      <mdb-card-img src="../../../../assets/red-buildings-households.jpg"></mdb-card-img>
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <mdb-card-body [cascade]="true" class="text-center"> 
      <mdb-card-title>
        <h2>
          <strong>核心價值</strong>
        </h2>
      </mdb-card-title>
      <h3 class="indigo-text">
        <strong>啟發教育</strong>
      </h3>
      <mdb-card-text>
        致力於程式啟發教育，幫助學生克服學習障礙
      </mdb-card-text>
    </mdb-card-body>
  
  </mdb-card>
  <h3 class="member-title">團隊成員</h3>
  <div class="row mt-3 mb-3">
    <div class="col-md-3" *ngFor="let item of member">
      <mdb-card class="testimonial-card">
        <div class="card-up indigo lighten-1">
        </div>
        <div class="avatar mx-auto">
          <img [src]="'../../../../assets/' + item.img" class="rounded-circle">
        </div>
        <mdb-card-body>
          <mdb-card-title>
            <h4>{{item.name}}</h4>
          </mdb-card-title>
          <hr>
          <p>
            <mdb-icon fas icon="quote-left"></mdb-icon> 
            {{item.job}}
          </p>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>