<div class="container">
  <mdb-card class="mt-3">
    <mdb-card-body>
      This is some text within a panel body.
    </mdb-card-body>
  </mdb-card>
  <h3 class="member-title">團隊成員</h3>
  <div class="row mt-3 mb-3">
    <div class="col-md-3" *ngFor="let item of member">
      <mdb-card class="testimonial-card">
        <div class="card-up indigo lighten-1">
        </div>
        <div class="avatar mx-auto">
          <img [src]="'../../../../assets/' + item.img" class="rounded-circle">
        </div>
        <mdb-card-body>
          <mdb-card-title>
            <h4>{{item.name}}</h4>
          </mdb-card-title>
          <hr>
          <p>
            <mdb-icon fas icon="quote-left"></mdb-icon> 
            {{item.job}}
          </p>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>