<div class="container">
  <h1>{{id}}</h1>
  <form action="" [formGroup]="form">
    <div *ngIf="doc | async as d">
      <mat-form-field appearance="fill">
        <mat-label>標題</mat-label>
        <input formControlName="title" [value]="d.title" matInput required>
      </mat-form-field>
      <div class="md-form d-flex">
        <mat-form-field appearance="fill">
          <mat-label>發布時間</mat-label>
          <input formControlName="publishDate" matInput [matDatepicker]="picker" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <input
          type="time"
          id="input"
          class="form-control"
          formControlName="publishTimePicker"
          mdbInput
          required
        />
      </div>
      <div class="d-block">        
        <mat-checkbox formControlName="vis">公開</mat-checkbox>
      </div>
      <mat-form-field class="intro" appearance="fill">
        <mat-label>簡介</mat-label>
        <input formControlName="intro" matInput required>
      </mat-form-field>
      <div class="d-flex">
        <label for="file">封面圖</label>
        <input type="file" required class="form-control" id="file" (change)="imageupload($event)">
        <div *ngIf="coverPicture">有圖片了</div>
      </div>
      <ckeditor [editor]="editor" data="{{d.content}}" formControlName="content" [config]="config" (ready)="onReady($event)"></ckeditor>
      <button type="button" mdbBtn color="primary" (click)="submit(0)" mdbWavesEffect>儲存</button>
      <button type="button" mdbBtn color="primary" (click)="submit(1)" mdbWavesEffect>發布並返回</button>
      <button type="button" mdbBtn color="primary" routerLink=".." mdbWavesEffect>取消</button>
    </div>
  </form>
</div>