.bg{
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.view{
  padding: 20px;
}

.container{
  background-color: white;
  margin-top: 10px;
  box-shadow: 6px 6px 20px rgba($color: #000000, $alpha: .2);
  border-radius: 15px;

  .title{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 72px;
    margin-top: 8px;
    padding: 13px 3px 3px 10px;
    
    &::before{
      content: '';
      position: absolute;
      margin: 3px 3px 15px;
      top: 10px;
      left: -6px;
      height: 75%;
      width: 5px;
      background-color: #009DC0;
    }

    h1{
      font-size: 36px;
      font-weight: 900;
      margin-bottom: 0;
    }

    p{
      color: rgb(49, 49, 49);
      margin-bottom: 0;
    }
  }
  
  .content{
    @import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    font-family: "微軟正黑體", sans-serif;
    font-family: "Noto Sans TC", sans-serif;;
  }

}
:host {
  ::ng-deep strong{
    font-weight: 900;
  }

  ::ng-deep a{
    color: #009DC0 !important;
    text-decoration: underline;
  }

  ::ng-deep .text-tiny{
    font-size: 12px;
    line-height: 16px;
  }

  ::ng-deep .text-small{
    font-size: 16px;
    line-height: 22px;
  }

  ::ng-deep .text-big{
    font-size: 24px;
    line-height: 32px;
  }

  ::ng-deep .text-huge{
    font-size: 28px;
  }

  ::ng-deep blockquote{
    padding: 10px;
    background-color: #009dc027;
    border-left: 20px solid #009dc0;
    border-radius: 6px;
  }
}