*{
  font-weight: 600;
}

.pain-point{
  background-color: #ffea29;
}

.contact-us{
  width: 100%;
  background-color: #009DC0;

  ::ng-deep .mat-form-field-wrapper{
    width: 300px;
    font-size: 1.2em;
  }

  .btn{
    width: 300px;
    font-size: 1.2em;
    background-color: #0061b1;
  }

  @media screen and (max-width: 552px) {
    ::ng-deep .mat-form-field-wrapper{
      width: 240px;
    }
  
    .btn{
      width: 240px;
    }
  }
}

.social{
  text-align: center;

  .d-flex{
    width: 30%;

    @media screen and (max-width: 576px) {
      width: 100%;
    }
  }
  

  a{
    margin: 10px auto;
    align-content: space-between;
  }
  
  .fab{
    font-weight: 300;
  }
}

.fa-facebook{
  color: #3B5998;
}

.fa-instagram{
  color: #405de6;
}

.fa-line{
  color: #00c300;
}