<app-carousel></app-carousel>
<div class="home">
  <div class="container">
    <mdb-card class="pain-point mt-3 mb-3">
      <mdb-card-body>
        This is some text within a panel body.
      </mdb-card-body>
    </mdb-card>
  </div>
  <form class="contact-us text-center border border-light p-4" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <p class="h3 mb-2">聯絡我們</p>
    <p class="mb-3">想要知道更多資訊? 請聯絡我們</p>
    <div class="form-item">
      <mat-form-field appearance="fill">
        <mat-label>姓名</mat-label>
        <input matInput formControlName="name" id="name" required>
      </mat-form-field>
    </div>
    <div class="form-item">
      <mat-form-field appearance="fill">
        <mat-label>電話</mat-label>
        <input matInput formControlName="phone" id="phone" required>
      </mat-form-field>
    </div>
    <div class="form-item">
      <mat-form-field appearance="fill">
        <mat-label>電子郵件</mat-label>
        <input matInput formControlName="email" id="email" required>
      </mat-form-field>
    </div>
    <button mdbBtn mdbWavesEffect type="submit" class="contact-us-btn z-depth-0 my-4 waves-effect"
     [disabled]="disabledSubmitButton">送出</button>
  </form>
  <div class="container">
    <mdb-card class="mt-3 mb-3 social">
      <mdb-card-body>
        <h2 style="text-align: center;">
          追蹤我們，取得最新資訊
        </h2>
        <div class="d-flex m-auto icon">
          <a target="_blank" href="https://www.facebook.com/programing.tw">
            <i class="fab fa-5x fa-facebook"></i>
          </a>
          <a target="_blank" href="https://www.instagram.com/programing.tw/">
            <i class="fab fa-5x fa-instagram"></i>
          </a>
          <a target="_blank" href="https://lin.ee/qaj0mV3">
            <i class="fab fa-5x fa-line"></i>
          </a>
        </div>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>