*{
  font-weight: 600;
}

.pain-point{
  background-color: #ffea29;
}

.contact-us{
  width: 100%;
  background-color: #009DC0;

  ::ng-deep .mat-form-field-wrapper{
    width: 300px;
    font-size: 1.2em;
  }

  .btn{
    width: 300px;
    font-size: 1.2em;
  }

  @media screen and (max-width: 552px) {
    ::ng-deep .mat-form-field-wrapper{
      width: 240px;
    }
  
    .btn{
      width: 240px;
    }
  }
}

.fa-facebook{
  color: #3B5998;
}
