<app-carousel></app-carousel>
<div class="home">
  <div class="container">
    <mdb-card class="pain-point mt-3 mb-3">
      <mdb-card-body>
        <h3>學程式遇到問題?</h3>
        <div class="problem">
          <h4>網路上的教學太多，不知道從何開始?</h4>
          <p>統合式教學平台，我們幫您把資源都整合，一步一步增強自身能力。</p>
        </div>
        <div class="problem">
          <h4>自學過程中，沒有明確的目標，沒有與人互動，失去學習動力</h4>
          <p>透過故事性的課程，逐一解開任務，增加互動，提升學習動力及興趣。</p>
        </div>
        <div class="problem">
          <h4>對於自己實力在哪不清楚，不知道什麼適合自己</h4>
          <p>課程能力分級並加上簡單測驗，可以得知自己哪方面不清楚，進而針對補強。</p>
        </div>
      </mdb-card-body>
    </mdb-card>
  </div>
  <form class="contact-us text-center border border-light p-4" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <p class="h3 mb-2">聯絡我們</p>
    <p class="mb-3">想要知道更多資訊? 請聯絡我們</p>
    <div class="form-item">
      <mat-form-field appearance="fill">
        <mat-label>姓名</mat-label>
        <input matInput formControlName="name" id="name" required>
      </mat-form-field>
    </div>
    <div class="form-item">
      <mat-form-field appearance="fill">
        <mat-label>電話</mat-label>
        <input matInput formControlName="phone" id="phone" required>
      </mat-form-field>
    </div>
    <div class="form-item">
      <mat-form-field appearance="fill">
        <mat-label>電子郵件</mat-label>
        <input matInput formControlName="email" id="email" required>
      </mat-form-field>
    </div>
    <button mdbBtn mdbWavesEffect type="submit" class="contact-us-btn z-depth-0 my-4 waves-effect"
     [disabled]="disabledSubmitButton">送出</button>
  </form>
  <div class="container">
    <mdb-card class="mt-3 mb-3 social">
      <mdb-card-body>
        <h2 style="text-align: center;">
          追蹤我們，取得最新資訊
        </h2>
        <div class="d-flex m-auto icon">
          <a target="_blank" href="https://www.facebook.com/programing.tw">
            <i class="fab fa-5x fa-facebook"></i>
          </a>
          <a target="_blank" href="https://www.instagram.com/programing.tw/">
            <i class="fab fa-5x fa-instagram"></i>
          </a>
          <a target="_blank" href="https://lin.ee/qaj0mV3">
            <i class="fab fa-5x fa-line"></i>
          </a>
        </div>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>