<div class="container mt-3">
  <a mdbBtn color="indigo" size="sm" mdbWavesEffect type="button" class="m-0" (click)="newDoc()" >新增文章</a>
  <table mdbTable>
    <thead>
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{head}}</th>
      </tr>
    </thead>
    <tbody>
      <tr mdbTableCol *ngFor="let el of elements | async">
        <th scope="row">{{el.docId}}</th>
        <td>{{el.title}}</td>
        <td>{{el.updateTime.toDate() | date: "yy-MM-dd hh:mm"}}</td>
        <td>{{el.publishTime.toDate() | date: "yy-MM-dd hh:mm"}}</td>
        <td>{{el.vis}}</td>
        <td>
          <a mdbBtn color="indigo" size="sm" mdbWavesEffect type="button" class="m-0" routerLink="{{el.docId}}">修改</a>
        </td>
        <td>
          <a mdbBtn color="indigo" size="sm" mdbWavesEffect type="button" class="m-0" (click)="showmodel(el);basicModal.show()">刪除</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">要刪嗎??</h4>
      </div>
      <div class="modal-body" *ngIf="delId">
        <strong>{{delId.title}}</strong> <br />
        要刪嗎??要刪嗎??要刪嗎??
        <br /> 你確定?????
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
        <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="delDoc(delId.docId);basicModal.hide()" mdbWavesEffect>確定</button>
      </div>
    </div>
  </div>
</div>